.root {
	-fx-background-color: white;
	-fx-background-radius: null;
	-fx-padding: inherit;
	-fx-background-insets: 0px 1px 0px 0px;
	-fx-prompt-text-fill: #0000004d;
	-fx-highlight-text-fill: dodgerblue;
	-fx-highlight-fill: dodgerblue;
	-fx-text-box-border: none;
}

.text-area *.content {
	-fx-background-color: transparent;
	-fx-background-radius: 2px;
	-fx-cursor: text;
	-fx-padding: 0.25em 0.583em 0.25em 0.583em;
}
.text-input { 
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
	-fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
	-fx-border-color: transparent transparent -fx-prompt-text-fill transparent, transparent;
	-fx-border-insets: 0px 0px 1px 0px, 0px;
	-fx-border-width: 0px 0px 1px 0px, 0px 0px 1px 0px;
	-fx-font-size: 1.2em;
	-fx-padding: 1.28mm;
	-fx-highlight-fill: dodgerblue;
}

.text-input:focused {
	-fx-border-color: transparent transparent dodgerblue transparent, transparent;
	-fx-border-insets: 0px;
	-fx-border-width: 0px 0px 2px 0px, 0px 0px 0px 0px;
}